# Project 02 - Due Friday, November 11 at 12pm

*Objectives*: Gain experience loading a transactional dataset into a relational database model you define yourself and using SQL to explore its contents. Transform the data into a star schema, documenting the schema visually, and explore the transformed data analytically by writing and executing a number of SQL queries using common syntax and functions and describing your findings.  Gain practice working on these tasks with a partner.

*Grading criteria*: The tasks should all be completed, and questions should all be answered with SQL queries, diagrams, and charts in the space provided, unless a text answer is requested.  The notebook itself should be completely reproducible at datanotebook.org, from start to finish: another person should be able to use the same code to obtain the same results as yours.  Note that you will receive no more than partial credit if you do not add text/markdown cells explaining your thinking at each major step in each problem.

*Attestation*: **Work in pairs**.  At the end of your submitted notebook, identify the work each partner performed and attest that each contributed substantially to the work.

*Deadline*: Friday, November 11, 12pm.  One member of each pair must submit your notebook to Blackboard; you should not both submit it separately.  You may each push a copy to your own GitHub repository.


## Setup - select and obtain data

The US City Open Data Census has a variety of [transactional data from all over the country](http://us-city.census.okfn.org/).  Select one topic and one city from this Census, download the data, and explain your reason for this choice before proceeding.  Provide a link to the web page for the data set you've chosen.

I strongly encourage you to select a dataset from among the following topics:  Crime, Property Assessment, Campaign Finance Contributions, Service Requests (311), and Web Analytics.

By *transactional* data I mean records at the grain of one event per business process.  In the case of Service Requests (311), for example, that would require data at the level of each individual report of a service request.  If this isn't clear, think about the bike trip data - each individual ride was included - and look for data at that level of event/process specificity.  Avoid data like the Connecticut boating data, which was summarized by year, not individual transactions.

Please aim for a dataset of at least 10,000 individual records, but less than 250,000 records.  A little more or a little less is okay, but try to stay within these limits.

## Problem 1 - examine the data (20 points)

Use `csvstat`, `pandas`, or other tools as you see fit and observe the contents of your dataset.  Review important points from any metadata provided.  Describe what you see:  What do the columns mean?  Are there null values?  Which columns interest you the most?  Which columns present some opportunities, challenges, or questions you would like to ask?

<><><

We examine New York City Campaign Contributions in the current 2017 campaign cycle.

Data is available online from the New York City Campaign Finance Board at http://www.nyccfb.info/. The 2017 contributions dataset (in csv format) is available directly via URL link. We begin by retrieving the dataset. All code in this notebook should be entirely replicable if run on datanotebok.org in the environment set up for the GWU course ISTM 6212 Data Management. 

NOTE: This is a happy result. It took many hours to distill. Why? Because the raw csv data file is not compliant with the UTF-8 character set (as you will see) and we are not intimately familiar with the various character sets and tracing down error codes. The csv data file contains at least one instance of a character (0x92) which cannot be decoded by the UTF-8 codec. We specified the ASCII character set and several others and attempted a number of transformations to identify and eliminate the suspect character(s). After a few hours we got lucky with one round of transformations on the dataset (the result was UTF-8 compliant). But it needed to be manually cleaned as additional commas (field delimiters) had been injected into nearly 100 random observations. We cleaned the file and used it as raw data to populate our database, schema and queries. This all took many hours. We prepared to deliver the assignment by attaching the cleaned dataset rather than linking to the source. But we decided to try one more time to see if we could identify a proper codec. Lo & behold, we found that when encoding is specified as 'latin1' the UTF-8 error vanished and the raw contributions dataset could be used directly. So after much consternation, we are able to deliver an elegant solution that gets data from the source, examines and loads it for analysis and summarization.

In [1]:
# First we get the raw data from the NYC Campaign Finance Board Library.

!wget "http://www.nyccfb.info/DataLibrary/2017_Contribution.csv"

--2016-11-11 04:54:25--  http://www.nyccfb.info/DataLibrary/2017_Contribution.csv
Resolving www.nyccfb.info (www.nyccfb.info)... 107.181.16.98
Connecting to www.nyccfb.info (www.nyccfb.info)|107.181.16.98|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4181720 (4.0M) [application/octet-stream]
Saving to: ‘2017_Contribution.csv’

2017_Contribution.c 100%[=====================>]   3.99M  11.2MB/s   in 0.4s

2016-11-11 04:54:25 (11.2 MB/s) - ‘2017_Contribution.csv’ saved [4181720/4181720]

In [2]:
# The dataset is not UTF-8 compliant and csvclean balks at it as do other simple csvkit commands.

!csvclean 2017_Contribution.csv

Your file is not "utf-8" encoded. Please specify the correct encoding with the -e flag. Use the -v flag to see the complete error.

In [3]:
# A detailed listing showing the problem character (0x92).

!csvclean -v 2017_Contribution.csv

Traceback (most recent call last):
  File "/opt/conda/bin/csvclean", line 6, in <module>
    sys.exit(csvkit.utilities.csvclean.launch_new_instance())
  File "/opt/conda/lib/python3.5/site-packages/csvkit/utilities/csvclean.py", line 76, in launch_new_instance
    utility.main()
  File "/opt/conda/lib/python3.5/site-packages/csvkit/utilities/csvclean.py", line 43, in main
    for row in checker.checked_rows():
  File "/opt/conda/lib/python3.5/site-packages/csvkit/cleanup.py", line 79, in checked_rows
    for row in self.reader:
  File "/opt/conda/lib/python3.5/site-packages/csvkit/py3.py", line 22, in __next__
    return next(self.reader)
  File "/opt/conda/lib/python3.5/site-packages/csvkit/cli.py", line 57, in __next__
    return next(self.f)
  File "/opt/conda/lib/python3.5/codecs.py", line 321, in decode
    (result, consumed) = self._buffer_decode(data, self.errors, final)
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 4570: invalid start byte

In [4]:
# An elegant solution to the anomaly in the raw data file: specify encoding as 'latin1'.

!csvclean -e latin1 2017_Contribution.csv

No errors.

In [5]:
# Total number of rows (includes header row).

!wc -l 2017_Contribution.csv

21239 2017_Contribution.csv

In [6]:
# Listing of all variables.

!csvcut -n 2017_Contribution.csv

  1: ELECTION
  2: OFFICECD
  3: RECIPID
  4: CANCLASS
  5: RECIPNAME
  6: COMMITTEE
  7: FILING
  8: SCHEDULE
  9: PAGENO
 10: SEQUENCENO
 11: REFNO
 12: DATE
 13: REFUNDDATE
 14: NAME
 15: C_CODE
 16: STRNO
 17: STRNAME
 18: APARTMENT
 19: BOROUGHCD
 20: CITY
 21: STATE
 22: ZIP
 23: OCCUPATION
 24: EMPNAME
 25: EMPSTRNO
 26: EMPSTRNAME
 27: EMPCITY
 28: EMPSTATE
 29: AMNT
 30: MATCHAMNT
 31: PREVAMNT
 32: PAY_METHOD
 33: INTERMNO
 34: INTERMNAME
 35: INTSTRNO
 36: INTSTRNM
 37: INTAPTNO
 38: INTCITY
 39: INTST
 40: INTZIP
 41: INTEMPNAME
 42: INTEMPSTNO
 43: INTEMPSTNM
 44: INTEMPCITY
 45: INTEMPST
 46: INTOCCUPA
 47: PURPOSECD
 48: EXEMPTCD
 49: ADJTYPECD
 50: RR_IND
 51: SEG_IND
 52: INT_C_CODE

In [7]:
# Summary statistics for all variables. Key metadata presented after these statistics.

!csvstat -e latin1 2017_Contribution.csv

  1. ELECTION
	<class 'int'>
	Nulls: False
	Values: 2017
  2. OFFICECD
	<class 'int'>
	Nulls: False
	Values: 1, 2, 4, 5, 6
  3. RECIPID
	<class 'str'>
	Nulls: False
	Unique values: 70
	5 most frequent values:
		326:	2126
		148:	1423
		1160:	1360
		264:	1326
		480:	1225
	Max length: 4
  4. CANCLASS
	<class 'str'>
	Nulls: False
	Values: UN
  5. RECIPNAME
	<class 'str'>
	Nulls: False
	Unique values: 70
	5 most frequent values:
		de Blasio, Bill:	2126
		Stringer, Scott:	1423
		Diaz Jr., Ruben:	1360
		Katz, Melinda R:	1326
		James, Letitia:	1225
	Max length: 29
  6. COMMITTEE
	<class 'str'>
	Nulls: False
	Unique values: 9
	5 most frequent values:
		P:	4266
		K:	3324
		N:	2847
		L:	2341
		H:	2265
	Max length: 1
  7. FILING
	<class 'int'>
	Nulls: False
	Values: 1, 2, 3, 4, 5
  8. SCHEDULE
	<class 'str'>
	Nulls: False
	Values: D, N, M, ABC
  9. PAGENO
	<class 'NoneType'>
	Nulls: True
	Values:
 10. SEQUENCENO
	<class 'NoneType'>
	Nulls: True
	Values:
 11. REFNO
	<class 'str'>
	Nulls: False
	Unique values: 12941
	5 most frequent values:
		R0000011:	13
		R0000037:	10
		R0000239:	10
		R0000348:	10
		R0000374:	10
	Max length: 8
 12. DATE
	<class 'datetime.date'>
	Nulls: True
	Min: 2013-11-18
	Max: 2016-07-11
	Unique values: 813
	5 most frequent values:
		2016-07-11:	865
		2016-01-11:	595
		2016-07-07:	334
		2016-07-08:	266
		2016-05-12:	249
 13. REFUNDDATE
	<class 'datetime.date'>
	Nulls: True
	Min: 2013-12-09
	Max: 2016-07-11
	Unique values: 162
	5 most frequent values:
		2016-02-08:	21
		2016-02-11:	17
		2015-08-13:	14
		2016-02-19:	14
		2016-01-12:	13
 14. NAME
	<class 'str'>
	Nulls: False
	Unique values: 15322
	5 most frequent values:
		CWA District One PAC:	24
		United Federation of Teachers:	23
		Council of School Supervisors:	23
		32BJ United ADF:	22
		Gomez, Alex A:	20
	Max length: 34
 15. C_CODE
	<class 'str'>
	Nulls: False
	Unique values: 12
	5 most frequent values:
		IND:	19458
		PCOMP:	1263
		EMPO:	164
		FAM:	128
		CAN:	82
	Max length: 6
 16. STRNO
	<class 'str'>
	Nulls: True
	Values: IND
 17. STRNAME
	<class 'NoneType'>
	Nulls: True
	Values:
 18. APARTMENT
	<class 'NoneType'>
	Nulls: True
	Values:
 19. BOROUGHCD
	<class 'str'>
	Nulls: True
	Unique values: 6
	5 most frequent values:
		M:	6268
		K:	4291
		Z:	4203
		Q:	3824
		X:	1552
	Max length: 4
 20. CITY
	<class 'str'>
	Nulls: True
	Unique values: 1028
	5 most frequent values:
		New York:	6286
		Brooklyn:	4279
		Bronx:	1524
		Staten Island:	907
		Flushing:	340
	Max length: 22
 21. STATE
	<class 'str'>
	Nulls: True
	Unique values: 53
	5 most frequent values:
		NY:	19572
		NJ:	707
		CT:	171
		DC:	86
		FL:	85
	Max length: 13
 22. ZIP
	<class 'str'>
	Nulls: True
	Unique values: 1133
	5 most frequent values:
		11215:	517
		10025:	436
		11201:	397
		10023:	366
		10024:	360
	Max length: 5
 23. OCCUPATION
	<class 'str'>
	Nulls: True
	Unique values: 3435
	5 most frequent values:
		Attorney:	1118
		Retired:	986
		President:	466
		executive:	440
		Owner:	396
	Max length: 30
 24. EMPNAME
	<class 'str'>
	Nulls: True
	Unique values: 8304
	5 most frequent values:
		Self Employed:	591
		Retired:	417
		Self-Employed:	278
		self-employed:	248
		Self:	247
	Max length: 30
 25. EMPSTRNO
	<class 'str'>
	Nulls: True
	Unique values: 2961
	5 most frequent values:
		1:	417
		250:	247
		233:	208
		200:	188
		111:	126
	Max length: 21
 26. EMPSTRNAME
	<class 'str'>
	Nulls: True
	Unique values: 4621
	5 most frequent values:
		Broadway:	1097
		Park Avenue:	267
		Madison Avenue:	195
		Fifth Avenue:	183
		Avenue of the Americas:	147
	Max length: 32
 27. EMPCITY
	<class 'str'>
	Nulls: True
	Unique values: 609
	5 most frequent values:
		New York:	7063
		Brooklyn:	2456
		Bronx:	1040
		Staten Island:	458
		Long Island City:	272
	Max length: 22
 28. EMPSTATE
	<class 'str'>
	Nulls: True
	Unique values: 48
	5 most frequent values:
		NY:	14299
		NJ:	313
		CA:	72
		CT:	65
		DC:	53
	Max length: 13
 29. AMNT
	<class 'str'>
	Nulls: False
	Unique values: 364
	5 most frequent values:
		100:	3474
		250:	2582
		50:	2017
		500:	1836
		1000:	1608
	Max length: 7
 30. MATCHAMNT
	<class 'int'>
	Nulls: False
	Min: 0
	Max: 175
	Sum: 1257302
	Mean: 59.20058385912044
	Median: 20.0
	Standard Deviation: 71.89807475474592
	Unique values: 47
	5 most frequent values:
		0:	10285
		175:	4805
		100:	2116
		50:	1441
		25:	731
 31. PREVAMNT
	<class 'float'>
	Nulls: False
	Min: 0.0
	Max: 6450.0
	Sum: 1833806.41
	Mean: 86.34553206516621
	Median: 0.0
	Standard Deviation: 384.82595440789333
	Unique values: 181
	5 most frequent values:
		0.0:	18432
		100.0:	362
		500.0:	312
		250.0:	311
		1000.0:	279
 32. PAY_METHOD
	<class 'int'>
	Nulls: False
	Min: 0
	Max: 5
	Sum: 54418
	Mean: 2.5622940013183917
	Median: 2.0
	Standard Deviation: 1.1271688876572044
	Unique values: 6
	5 most frequent values:
		2:	11782
		4:	7101
		1:	1638
		0:	553
		5:	160
 33. INTERMNO
	<class 'int'>
	Nulls: True
	Min: 1
	Max: 2189
	Sum: 607563
	Mean: 396.0645371577575
	Median: 37.0
	Standard Deviation: 790.3875720732748
	Unique values: 119
	5 most frequent values:
		2:	165
		1:	98
		5:	83
		38:	65
		4:	39
 34. INTERMNAME
	<class 'str'>
	Nulls: True
	Unique values: 170
	5 most frequent values:
		Calabrese, John:	97
		Shapiro, Eli:	61
		Defendis, Nicholas:	51
		Goldstein, Arthur:	47
		Capalino, James F:	39
	Max length: 25
 35. INTSTRNO
	<class 'NoneType'>
	Nulls: True
	Values:
 36. INTSTRNM
	<class 'NoneType'>
	Nulls: True
	Values:
 37. INTAPTNO
	<class 'NoneType'>
	Nulls: True
	Values:
 38. INTCITY
	<class 'str'>
	Nulls: True
	Unique values: 48
	5 most frequent values:
		New York:	667
		Brooklyn:	218
		Staten Island:	166
		Far Rockaway:	61
		New Rochelle:	56
	Max length: 16
 39. INTST
	<class 'str'>
	Nulls: True
	Unique values: 6
	5 most frequent values:
		NY:	1483
		NJ:	29
		DC:	6
		CT:	6
		MD:	5
	Max length: 4
 40. INTZIP
	<class 'int'>
	Nulls: True
	Min: 6830
	Max: 33139
	Sum: 16056060
	Mean: 10591.068601583114
	Median: 10308.0
	Standard Deviation: 1299.3222418514251
	Unique values: 93
	5 most frequent values:
		10312:	97
		10025:	76
		10024:	75
		10023:	68
		11691:	61
 41. INTEMPNAME
	<class 'str'>
	Nulls: True
	Unique values: 161
	5 most frequent values:
		Metlife:	97
		Nassau BOCES:	61
		Constantinople & Vallone:	55
		Moore Catholic High School:	51
		Self-Employed:	42
	Max length: 30
 42. INTEMPSTNO
	<class 'str'>
	Nulls: True
	Unique values: 118
	5 most frequent values:
		15:	125
		233:	112
		605:	80
		250:	62
		71:	61
	Max length: 6
 43. INTEMPSTNM
	<class 'str'>
	Nulls: True
	Unique values: 107
	5 most frequent values:
		Broadway:	202
		Bayridge Avenue:	97
		Madison Avenue:	69
		Park Avenue:	67
		Clinton Road:	61
	Max length: 25
 44. INTEMPCITY
	<class 'str'>
	Nulls: True
	Unique values: 29
	5 most frequent values:
		New York:	927
		Brooklyn:	183
		Staten Island:	68
		Garden City:	61
		Long Island City:	34
	Max length: 16
 45. INTEMPST
	<class 'str'>
	Nulls: True
	Unique values: 6
	5 most frequent values:
		NY:	1411
		CA:	15
		NJ:	9
		CT:	7
		DC:	6
	Max length: 4
 46. INTOCCUPA
	<class 'str'>
	Nulls: True
	Unique values: 85
	5 most frequent values:
		Attorney:	166
		Financial Advisor:	120
		Partner:	98
		President:	95
		executive:	77
	Max length: 30
 47. PURPOSECD
	<class 'str'>
	Nulls: True
	Unique values: 6
	5 most frequent values:
		FUNDR:	58
		OFFCE:	18
		OTHER:	13
		CMAIL:	2
		PROFL:	2
	Max length: 6
 48. EXEMPTCD
	<class 'NoneType'>
	Nulls: True
	Values:
 49. ADJTYPECD
	<class 'int'>
	Nulls: True
	Values: 1, 2, 5
 50. RR_IND
	<class 'bool'>
	Nulls: True
	Unique values: 1
	5 most frequent values:
		False:	21237
 51. SEG_IND
	<class 'bool'>
	Nulls: True
	Unique values: 2
	5 most frequent values:
		False:	21041
		True:	103
 52. INT_C_CODE
	<class 'str'>
	Nulls: True
	Values: IND, SPO, N, LLC, PCOMC

Row count: 21238

#### Overview of variables

A full key can be found in the accompanying CY2013 CONTRIBUTION KEY spreadsheet.

OFFICECD = Office Code [1=Mayor; 2=Public Advocate; 3=Comptroller; 4=Borough President; 5=City Council; 6=Undeclared; IS=Independent Spender]

RECIPID = Recipient ID shows that 70 candidates are running (contributions as of July 2016)

C_CODE = Contributor Code [CAN=Candidate; CORP=Corporation; EMPO=Labor Union; FAM=Candidate's Family; IND=Individual; LLC=Limited Liability Company; OTHR=Other; PART=Partnership; PCOMC=Candidate Committee; PCOMP=Political Action Committee; PCOMZ=Party Committee; SPO=Candidate's Spouse; UNKN=Unknown]

BOROUGHCD = Contributor's Borough Code: [K=Brooklyn; M=Manhattan; Q=Queens; S=Staten Island; X=Bronx; Z=Outside New York City]

EMPNAME = Contributor's Employer

AMNT = Amount

MATCHAMNT = Matchable Amount of Contribution

INTERMNAME = Intermediary's Name


#### Summary

Races: Mayor, Public Advocate, Borough President (all but Manhattan) and many City Council and undeclared seats are to be contested.

From RECIPID and RECIPNAME it is evident that as of July 2016, Bill deBlasio has received nearly 90% of the total number of individual contributions in the Mayor's race and only two other Mayoral candidates had received any contributions. James Letitia appears to be running uncontested in the race for Public Advocate as he is the only candidate for this office to report contributions. As of July 2016 only four candidates (one for each of the 4 borough presidencies being contested: Staten Island, Brooklyn, Queens and the Bronx) had reported any contributions. So these races also appear to be uncontested.

The central facts for this dataset are AMNT and MATCHAMNT: the dollar amount and matchable amount associated with each contribution. Data is reported at the transaction level. We assume the matchable amount is indeed matched so that the total amount of any contribution is the contribution itself + any matchable amount. 

There are many blank values in the data set but very few, if any, missing values. All critical variables (namely the contributors, recipients and amounts) are fully specified with no missing values. So we should be able to summarize contributions by candidate for each office and identify the shares that come from individuals, candidates or their families, unions, business entities and political committees. 

An initial look at the contributor codes in the raw data shows that the vast majority of official campaign contribution transactions in the data set are from individuals. But the high value contributions from businesses and unions alike generally appear to be routed through political committees (Political Action Committees (PACs) are one type of political committee). Because so much of the big money goes through PACs, the data would need to be processed further to determine the extent of corporate or union backing behind any candidate. Nonetheless, the contributor codes as reported should be rich enough to shed some light on which groups are backing which candidates. We may look only at city-wide and borough-wide offices as the city council and undeclared seats may be too numerous to yield any insight at this level.

For this project we are interested in the recipient (RECIPID and RECIPNAME), office sought (OFFICECD), contributor (NAME and C_CODE) date of transaction (DATE and REFUNDDATE) and the amounts (AMNT and MATCHAMNT). As such we could drop most of the variables in the dataset. Thirty-two of the 52 variables will not be used at this stage. Many of these are entirely or mostly blank or otherwise sparse -- e.g., there was no intermediary in most cases, there is no employer in many cases, etc. But we shall retain all variables since the dataset is already a reasonable size (4MB) and we would not gain a great deal by dropping mostly sparse variables.

## Problem 2 - define a database model, load the data, and explore (20 points)

Based on what you found above, create and connect to a new database, define a database table in it, and load this dataset into it.  You may use either of the methods for this step you have seen in earlier class notebooks.  You may choose to eliminate variables/columns if they are not relevant or interesting to you - explain your reasoning if you do.  Either way, you should load a majority of the columns present in the source dataset as it is in its raw form into the database, and all of its rows.

Once your data has loaded successfully, run a `COUNT(*)` query to verify that all the data has loaded correctly.

Explore the data to zero in on a few themes you would like to further study analytically.  Discuss columns that present opportunities for extraction into dimensions, and identify the specific columns that contain facts you want to measure.

In [8]:
!echo 'redspot' | sudo -S service postgresql restart

[sudo] password for jovyan: Restarting PostgreSQL 9.5 database server: main.

In [9]:
!createdb -U dbuser NYC_CampgnFin

In [10]:
%load_ext sql

/opt/conda/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [11]:
%sql postgresql://dbuser@localhost:5432/NYC_CampgnFin

'Connected: dbuser@NYC_CampgnFin'

In [12]:
%%sql
DROP TABLE IF EXISTS Master;
CREATE TABLE Master (
    election_year INTEGER,
    office_cd INTEGER,
    recip_id VARCHAR(4),
    can_class CHAR(2),
    recip_name CHAR(30),
    committee CHAR(1),
    filing INTEGER,
    schedule CHAR(3),
    page_no CHAR(1),
    seq_no CHAR(1),
    ref_no VARCHAR(8),
    date TIMESTAMP,
    refund_date TIMESTAMP,
    donor_name CHAR(35),
    contr_cd CHAR(6),
    str_no CHAR(1),
    str_name CHAR(1),
    apt CHAR(1),
    borough CHAR(4),
    city CHAR(22),
    state CHAR(2),
    zip CHAR(5),
    occupation CHAR(30),
    emp_name CHAR(30),
    emp_str_no CHAR(25),
    emp_str_name CHAR(32),
    emp_city CHAR(22),
    emp_state CHAR(2),
    amount REAL,
    match_amnt REAL,
    prev_amnt REAL,
    pay_method INTEGER,
    int_erm_no INTEGER,
    int_erm_name CHAR(25),
    int_str_no CHAR(1),
    int_str_name CHAR(1),
    int_apt_no CHAR(1),
    int_city CHAR(16),
    int_state CHAR(2),
    int_zip CHAR(5),
    int_emp_name CHAR(30),
    int_emp_st_no CHAR(6),
    int_emp_st_nm CHAR(25),
    int_emp_city CHAR(16),
    int_emp_st CHAR(2),
    int_occup CHAR(30),
    purpose_cd CHAR(6),
    exempt_cd CHAR(1),
    adj_type_cd CHAR(1),
    rr_ind BOOLEAN,
    seg_ind BOOLEAN,
    int_c_cd CHAR(5)
);

Done.
Done.

[]

In [13]:
!pwd
!ls

/home/jovyan/work
2017_Contribution.csv	   project-02-chen-fitz-take3a.ipynb
2017_Contribution_out.csv

<><><

Notice that we must specify 'latin1' encoding below, else the load will fail.

Apparently, the COPY (table) FROM statement below requires an absolute path, so we provide it ...

Make sure the path below is 'your working directory (from above) /2017_Contribution.csv'

In [16]:
%%sql
COPY Master FROM '/home/jovyan/work/2017_Contribution.csv'
CSV
ENCODING 'latin1'
HEADER
QUOTE '"'
DELIMITER ',';

21238 rows affected.

[]

In [32]:
%%sql
SELECT COUNT (*), SUM(amount), SUM(match_amnt)
FROM Master;

1 rows affected.

[(21238, 11682900.0, 1257150.0)]

Success. All observations present & accounted for yielding $11.7m & $1.3m in contributions and matching contributions.

The facts we wish to measure are total campaign contributions (amount + match_amnt). 

As an initial exploratory query, it may be illuminating to compare de Blasio's war chest to that of his two rivals in the mayoral race ...just to see if they are even in the same order of magnitude.

In [48]:
%%sql
SELECT office_cd, recip_name, SUM(amount + match_amnt)
FROM Master
WHERE office_cd = 1
GROUP by office_cd, recip_name
ORDER by recip_name;

3 rows affected.

[(1, 'Faulkner, Michel J            ', 39770.0),
 (1, 'Thompson, Josh                ', 30450.7),
 (1, 'de Blasio, Bill               ', 2408790.0)]

Now `that` is interesting. de Blasio raised nearly 2 orders of magnitude (100x) more than each of his rivals. That's no contest.

As far as dimension tables go, it would be interesting to compare and contrast total contributions in the mayoral race to the races for borough president and all other local seats. Similarly it would be interesting to compare total amounts from individuals to amounts from businesses, unions and political committees. Similarly, it might be instructive to plot contributions over time. 

As such, we may wish to extract recipient and office information into one dimension table, donor information into another and (transaction) date information into another dimension table.

## Problem 3 - define a star schema, and load your data into it (30 points)

Define a star schema consisting of at least one fact table and at least two dimensions.  Transform your source data into the new fact table and dimensions.  Discuss your key modeling decisions.

Document your star schema with a diagram.  There several tools available for this, such as Google Docs and Microsoft Visio.

Star Schema Diagram:  See the separate file.
<img src="files/schema.jpg">

##### Potential Dimension Table:  trans_dimension
Due to both the lack of usefulness in term of generating insights and an implementational difficulty related to the date fields, we later decided to abandon this dimension table. We decided to include the table-creation steps here, however, to capture our thought process.

In [49]:
%%sql
DROP TABLE IF EXISTS trans_dimension;
CREATE TABLE trans_dimension (
    election_year INTEGER,
    date TIMESTAMP,
    refund_date TIMESTAMP,
    ref_no VARCHAR(8),
    trans_key SERIAL
);

Done.
Done.

[]

In [50]:
%%sql
ALTER TABLE trans_dimension ADD PRIMARY KEY (trans_key);

Done.

[]

In [51]:
%%sql
INSERT INTO trans_dimension
SELECT DISTINCT election_year, date, refund_date
FROM Master;

1179 rows affected.

[]

Quick validation:

In [52]:
%%sql
SELECT *
FROM trans_dimension
LIMIT 50;

100 rows affected.

[(2017, datetime.datetime(2014, 6, 8, 0, 0), datetime.datetime(2015, 7, 11, 0, 0), None, 1),
 (2017, datetime.datetime(2016, 3, 29, 0, 0), datetime.datetime(2016, 7, 6, 0, 0), None, 2),
 (2017, datetime.datetime(2015, 12, 16, 0, 0), None, None, 3),
 (2017, datetime.datetime(2016, 6, 14, 0, 0), None, None, 4),
 (2017, datetime.datetime(2014, 6, 9, 0, 0), None, None, 5),
 (2017, datetime.datetime(2015, 3, 17, 0, 0), None, None, 6),
 (2017, datetime.datetime(2016, 6, 17, 0, 0), None, None, 7),
 (2017, datetime.datetime(2015, 2, 21, 0, 0), None, None, 8),
 (2017, datetime.datetime(2015, 2, 22, 0, 0), None, None, 9),
 (2017, datetime.datetime(2015, 7, 11, 0, 0), datetime.datetime(2015, 8, 13, 0, 0), None, 10),
 (2017, datetime.datetime(2015, 10, 12, 0, 0), None, None, 11),
 (2017, datetime.datetime(2016, 3, 14, 0, 0), None, None, 12),
 (2017, datetime.datetime(2016, 1, 21, 0, 0), None, None, 13),
 (2017, datetime.datetime(2015, 4, 17, 0, 0), datetime.datetime(2015, 8, 10, 0, 0), None, 14),
 (2017, datetime.datetime(2014, 5, 14, 0, 0), datetime.datetime(2014, 7, 21, 0, 0), None, 15),
 (2017, datetime.datetime(2013, 11, 18, 0, 0), None, None, 16),
 (2017, datetime.datetime(2015, 9, 30, 0, 0), None, None, 17),
 (2017, datetime.datetime(2014, 5, 23, 0, 0), None, None, 18),
 (2017, datetime.datetime(2015, 6, 25, 0, 0), datetime.datetime(2015, 7, 1, 0, 0), None, 19),
 (2017, datetime.datetime(2015, 7, 8, 0, 0), None, None, 20),
 (2017, datetime.datetime(2014, 11, 10, 0, 0), datetime.datetime(2015, 12, 10, 0, 0), None, 21),
 (2017, datetime.datetime(2016, 6, 13, 0, 0), None, None, 22),
 (2017, datetime.datetime(2015, 12, 23, 0, 0), None, None, 23),
 (2017, datetime.datetime(2015, 9, 29, 0, 0), None, None, 24),
 (2017, datetime.datetime(2015, 4, 23, 0, 0), None, None, 25),
 (2017, datetime.datetime(2015, 7, 29, 0, 0), datetime.datetime(2015, 8, 10, 0, 0), None, 26),
 (2017, datetime.datetime(2014, 10, 16, 0, 0), None, None, 27),
 (2017, datetime.datetime(2015, 5, 31, 0, 0), None, None, 28),
 (2017, datetime.datetime(2015, 12, 2, 0, 0), None, None, 29),
 (2017, datetime.datetime(2016, 5, 12, 0, 0), None, None, 30),
 (2017, datetime.datetime(2015, 5, 15, 0, 0), None, None, 31),
 (2017, datetime.datetime(2016, 1, 19, 0, 0), datetime.datetime(2016, 3, 23, 0, 0), None, 32),
 (2017, datetime.datetime(2015, 9, 26, 0, 0), None, None, 33),
 (2017, datetime.datetime(2015, 7, 16, 0, 0), datetime.datetime(2016, 1, 11, 0, 0), None, 34),
 (2017, datetime.datetime(2016, 4, 20, 0, 0), None, None, 35),
 (2017, datetime.datetime(2014, 11, 16, 0, 0), None, None, 36),
 (2017, datetime.datetime(2014, 6, 8, 0, 0), None, None, 37),
 (2017, datetime.datetime(2015, 11, 7, 0, 0), None, None, 38),
 (2017, datetime.datetime(2014, 11, 20, 0, 0), datetime.datetime(2015, 2, 10, 0, 0), None, 39),
 (2017, datetime.datetime(2015, 4, 30, 0, 0), None, None, 40),
 (2017, datetime.datetime(2015, 7, 17, 0, 0), None, None, 41),
 (2017, datetime.datetime(2014, 7, 14, 0, 0), None, None, 42),
 (2017, datetime.datetime(2014, 6, 11, 0, 0), datetime.datetime(2014, 8, 14, 0, 0), None, 43),
 (2017, datetime.datetime(2014, 9, 14, 0, 0), None, None, 44),
 (2017, datetime.datetime(2014, 3, 27, 0, 0), None, None, 45),
 (2017, datetime.datetime(2014, 4, 29, 0, 0), None, None, 46),
 (2017, datetime.datetime(2015, 10, 16, 0, 0), None, None, 47),
 (2017, datetime.datetime(2014, 8, 19, 0, 0), None, None, 48),
 (2017, datetime.datetime(2014, 6, 30, 0, 0), datetime.datetime(2015, 1, 9, 0, 0), None, 49),
 (2017, datetime.datetime(2015, 5, 6, 0, 0), datetime.datetime(2016, 1, 11, 0, 0), None, 50),
 (2017, datetime.datetime(2015, 4, 23, 0, 0), datetime.datetime(2015, 7, 11, 0, 0), None, 51),
 (2017, datetime.datetime(2015, 1, 29, 0, 0), None, None, 52),
 (2017, datetime.datetime(2015, 12, 1, 0, 0), datetime.datetime(2016, 1, 8, 0, 0), None, 53),
 (2017, datetime.datetime(2014, 11, 7, 0, 0), None, None, 54),
 (2017, datetime.datetime(2016, 1, 25, 0, 0), None, None, 55),
 (2017, datetime.datetime(2016, 3, 27, 0, 0), None, None, 56),
 (2017, datetime.datetime(2015, 7, 3, 0, 0), None, None, 57),
 (2017, datetime.datetime(2015, 5, 17, 0, 0), None, None, 58),
 (2017, datetime.datetime(2015, 2, 11, 0, 0), None, None, 59),
 (2017, datetime.datetime(2016, 4, 29, 0, 0), datetime.datetime(2016, 5, 4, 0, 0), None, 60),
 (2017, datetime.datetime(2014, 11, 26, 0, 0), None, None, 61),
 (2017, datetime.datetime(2016, 5, 29, 0, 0), None, None, 62),
 (2017, datetime.datetime(2015, 9, 21, 0, 0), datetime.datetime(2016, 1, 11, 0, 0), None, 63),
 (2017, datetime.datetime(2016, 1, 24, 0, 0), None, None, 64),
 (2017, datetime.datetime(2015, 5, 18, 0, 0), None, None, 65),
 (2017, datetime.datetime(2014, 10, 15, 0, 0), None, None, 66),
 (2017, datetime.datetime(2014, 6, 5, 0, 0), None, None, 67),
 (2017, datetime.datetime(2015, 3, 25, 0, 0), None, None, 68),
 (2017, datetime.datetime(2015, 1, 23, 0, 0), None, None, 69),
 (2017, datetime.datetime(2015, 3, 13, 0, 0), None, None, 70),
 (2017, datetime.datetime(2016, 1, 7, 0, 0), datetime.datetime(2016, 2, 19, 0, 0), None, 71),
 (2017, datetime.datetime(2015, 9, 19, 0, 0), None, None, 72),
 (2017, datetime.datetime(2014, 4, 8, 0, 0), None, None, 73),
 (2017, datetime.datetime(2016, 4, 19, 0, 0), datetime.datetime(2016, 5, 11, 0, 0), None, 74),
 (2017, datetime.datetime(2013, 12, 18, 0, 0), None, None, 75),
 (2017, datetime.datetime(2014, 10, 16, 0, 0), datetime.datetime(2015, 2, 9, 0, 0), None, 76),
 (2017, datetime.datetime(2015, 11, 12, 0, 0), datetime.datetime(2016, 2, 10, 0, 0), None, 77),
 (2017, datetime.datetime(2014, 7, 18, 0, 0), None, None, 78),
 (2017, datetime.datetime(2015, 8, 6, 0, 0), None, None, 79),
 (2017, datetime.datetime(2015, 7, 9, 0, 0), datetime.datetime(2016, 4, 5, 0, 0), None, 80),
 (2017, datetime.datetime(2014, 6, 2, 0, 0), None, None, 81),
 (2017, datetime.datetime(2015, 7, 2, 0, 0), datetime.datetime(2015, 8, 20, 0, 0), None, 82),
 (2017, datetime.datetime(2014, 12, 9, 0, 0), None, None, 83),
 (2017, datetime.datetime(2014, 5, 6, 0, 0), None, None, 84),
 (2017, datetime.datetime(2015, 12, 9, 0, 0), None, None, 85),
 (2017, datetime.datetime(2015, 1, 12, 0, 0), None, None, 86),
 (2017, datetime.datetime(2016, 6, 6, 0, 0), None, None, 87),
 (2017, datetime.datetime(2016, 7, 8, 0, 0), datetime.datetime(2016, 7, 11, 0, 0), None, 88),
 (2017, datetime.datetime(2015, 11, 25, 0, 0), datetime.datetime(2016, 2, 11, 0, 0), None, 89),
 (2017, datetime.datetime(2014, 12, 13, 0, 0), None, None, 90),
 (2017, datetime.datetime(2015, 7, 5, 0, 0), None, None, 91),
 (2017, datetime.datetime(2014, 11, 30, 0, 0), None, None, 92),
 (2017, datetime.datetime(2015, 7, 10, 0, 0), datetime.datetime(2015, 8, 18, 0, 0), None, 93),
 (2017, datetime.datetime(2016, 3, 21, 0, 0), datetime.datetime(2016, 5, 12, 0, 0), None, 94),
 (2017, datetime.datetime(2015, 6, 10, 0, 0), datetime.datetime(2015, 8, 18, 0, 0), None, 95),
 (2017, datetime.datetime(2014, 8, 14, 0, 0), None, None, 96),
 (2017, datetime.datetime(2014, 10, 3, 0, 0), datetime.datetime(2015, 1, 15, 0, 0), None, 97),
 (2017, datetime.datetime(2014, 9, 2, 0, 0), None, None, 98),
 (2017, datetime.datetime(2015, 12, 8, 0, 0), datetime.datetime(2015, 12, 16, 0, 0), None, 99),
 (2017, datetime.datetime(2014, 6, 10, 0, 0), None, None, 100)]

##### Dimension Table 1:  donor_dimension

In [53]:
%%sql
DROP TABLE IF EXISTS donor_dimension;
CREATE TABLE donor_dimension (
    donor_name CHAR(35),
    borough CHAR(4),
    city CHAR(22),
    state CHAR(13),
    zip CHAR(5),
    contr_cd CHAR(6),
    occupation CHAR(30),
    emp_name CHAR(30),
    donor_key SERIAL
);

Done.
Done.

[]

In [54]:
%%sql
ALTER TABLE donor_dimension ADD PRIMARY KEY (donor_key);

Done.

[]

In [55]:
%%sql
INSERT INTO donor_dimension
SELECT DISTINCT donor_name, borough, city, state, zip, contr_cd, occupation, emp_name
FROM Master;

17624 rows affected.

[]

Quick validation:

In [56]:
%%sql
SELECT *
FROM donor_dimension
LIMIT 50;

100 rows affected.

[('Tempesta, Donna M                  ', 'Z   ', 'Bethpage              ', 'NY           ', '11714', 'CPA                           ', 'AHF                           ', 1),
 ('Siddique, Mahammad A               ', 'Q   ', 'Jamaica               ', 'NY           ', '11433', 'Hospotality                   ', 'Starwood Hotel and Restaurant ', 2),
 ('Nicolich, Sergio                   ', 'Q   ', 'Flushing              ', 'NY           ', '11358', 'Police Officer                ', 'Nassau County                 ', 3),
 ('Keren, Donna                       ', 'M   ', 'New York              ', 'NY           ', '10004', 'Researcher                    ', 'NYC & Company                 ', 4),
 ('Carr, Dwaine                       ', 'Z   ', 'Roselle               ', 'nj           ', '7203 ', None, None, 5),
 ('Mehas, Carol                       ', 'M   ', 'New York              ', 'NY           ', '10011', 'Homemaker                     ', None, 6),
 ('Dunston, Jeffrey                   ', 'K   ', 'Brooklyn              ', 'NY           ', '11230', 'CEO                           ', 'Nebhco                        ', 7),
 ('Berman, Carolyn v                  ', 'K   ', 'Brooklyn              ', 'NY           ', '11217', 'Associate Professor           ', 'New School                    ', 8),
 ('Carr, Michael                      ', 'S   ', 'Staten Island         ', 'NY           ', '10304', 'retired                       ', None, 9),
 ('Drenis, Jerry                      ', 'Z   ', 'Port Washington       ', 'NY           ', '11050', 'CEO                           ', 'Marathon Energy               ', 10),
 ('Forman, Harry                      ', 'Z   ', 'Pomona                ', 'NY           ', '10970', 'attorney                      ', 'self-employed                 ', 11),
 ('Michalic, Marc                     ', 'Q   ', 'Jackson Heights       ', 'NY           ', '11372', 'executive                     ', 'Lanmarc Management Inc.       ', 12),
 ('Jerome, Marc                       ', 'Z   ', 'Englewood             ', 'NJ           ', '7631 ', 'executive                     ', 'Monroe College                ', 13),
 ('Kimball, Kyle                      ', 'K   ', 'Brooklyn              ', 'NY           ', '11215', 'Government Relations          ', 'Con Ed                        ', 14),
 ('Turano, Frank                      ', 'S   ', 'Staten Island         ', 'NY           ', '10306', 'CFO                           ', 'Calmare Pain Relief Solutions ', 15),
 ('Elliuk, Stacey                     ', 'Q   ', 'Woodside              ', 'NY           ', '11377', 'Constituent Dir               ', 'NYS Senate                    ', 16),
 ('Pena-Mora, Feniosky                ', 'M   ', 'New York              ', 'NY           ', '10025', 'Professor                     ', 'Columbia University           ', 17),
 ('Lapatine, Justin                   ', 'Z   ', 'Westport              ', 'CT           ', '6880 ', 'Public Affairs                ', 'Global Strategy Group         ', 18),
 ('Rippeteau, Eva                     ', 'K   ', 'Brooklyn              ', 'NY           ', '11216', 'Fitch Ratings                 ', 'Fitch Ratings                 ', 19),
 ('Sanaman, Amy                       ', 'K   ', 'Brooklyn              ', 'NY           ', '11220', None, None, 20),
 ('Greenfeld, Issac                   ', 'K   ', 'Brooklyn              ', 'NY           ', '11210', 'Not Employed                  ', 'None                          ', 21),
 ('Pardalis, Anastasi                 ', 'Q   ', 'Astoria               ', 'NY           ', '11106', 'Attorney                      ', 'Mavromihalis Pardalis & Novhav', 22),
 ('Baxter, Ellen                      ', 'Z   ', 'Montrose              ', 'NY           ', '10548', None, None, 23),
 ('Gilliam, Ryan                      ', 'K   ', 'Brooklyn              ', 'NY           ', '11218', 'Theater Director              ', 'Downtown Art                  ', 24),
 ('Mulligan-Kinn, Jean                ', 'Q   ', 'Jackson Heights       ', 'NY           ', '11372', 'consultant                    ', 'Kinn Real Estate Counselors   ', 25),
 ('Figueroa, Arminda                  ', 'Z   ', 'Fort Lauderdale       ', 'FL           ', '33301', 'Self Employed                 ', 'Latin2Latin Marketing + Comm  ', 26),
 ('Rampersad, Virun                   ', 'M   ', 'New York              ', 'NY           ', '10023', 'Banker                        ', 'BNY Mellon                    ', 27),
 ('Mirsky, Ellis                      ', 'Z   ', 'Nanvet                ', 'NY           ', '10954', 'Attorney                      ', 'Network of Trial Law Firms Inc', 28),
 ('Iron Workers Local 46              ', 'M   ', 'New York              ', 'NY           ', '10021', None, None, 29),
 ('ORGANIZATION OF STAFF ANALYSTS     ', 'M   ', 'New York              ', 'NY           ', '10010', None, None, 30),
 ('Giannola, Joseph                   ', 'Q   ', 'Whitestone            ', 'NY           ', '11357', 'Owner                         ', 'Bridge Side Dev               ', 31),
 ('Nash, Martin                       ', 'X   ', 'Bronx                 ', 'NY           ', '10464', 'None                          ', 'Retired                       ', 32),
 ('Rodus, Jeffrey                     ', 'K   ', 'Brooklyn              ', 'NY           ', '11234', 'Government Affairs            ', 'Connelly, McLaughlin & Woloz  ', 33),
 ('McKie, Michael                     ', 'K   ', 'Brooklyn              ', 'NY           ', '11203', 'Business Owner                ', 'Self-employed                 ', 34),
 ('Morales, John                      ', 'Z   ', 'Thiells               ', 'NY           ', '10984', 'contractor                    ', 'Benchmark Design Builders Inc.', 35),
 ('Hunter, Brittany                   ', 'M   ', 'New York              ', 'NY           ', '10032', '4th Grade Teacher             ', 'Success Academy Charter School', 36),
 ('Sanchez, Victor A                  ', 'Z   ', 'Yonkers               ', 'NY           ', '10705', 'Manager                       ', 'Silhouette Restaurant         ', 37),
 ('Sinclair-Chung, Opal               ', 'K   ', 'Brooklyn              ', 'NY           ', '11203', 'DED/CNE                       ', 'NYC Health & Hospital         ', 38),
 ('Cove, Peter                        ', 'M   ', 'New York              ', 'NY           ', '10017', 'Founder                       ', 'America Works of NY, Inc.     ', 39),
 ('Dandapani, Vijay                   ', 'M   ', 'New York              ', 'NY           ', '10038', 'President                     ', 'Apple Corp Hotels             ', 40),
 ('Gould, Elaine                      ', 'K   ', 'Brooklyn              ', 'NY           ', '11226', 'Retired                       ', None, 41),
 ('Cepeda Derieux, Adriel             ', 'K   ', 'Brooklyn              ', 'NY           ', '11211', 'Attorney                      ', 'Wilmer Hale                   ', 42),
 ('Berk, Marnie                       ', 'M   ', 'New York              ', 'NY           ', '10013', 'Director of Pro Bono          ', 'NY Lawyers for Public Interest', 43),
 ('Siracuse, Helen                    ', 'Z   ', 'Alexandria            ', 'VA           ', '22307', 'Lobbyist                      ', 'Atlantic Strategies Group     ', 44),
 ('Blenkinsopp, Alexander             ', 'Q   ', 'Woodhaven             ', 'NY           ', '11421', 'Project Manager               ', 'Self-Employed                 ', 45),
 ('Binder, Ellen                      ', 'M   ', 'New York              ', 'NY           ', '10011', 'Financial Management          ', 'Columbia University           ', 46),
 ('Herz, Jerry                        ', 'Z   ', 'Dix Hills             ', 'NY           ', '11746', 'executive                     ', 'Sterling Floor Designs        ', 47),
 ("Local 1 Int'l Union Elevator C     ", 'Q   ', 'Long Island City      ', 'NY           ', '11101', None, None, 48),
 ('Townley, Robert                    ', 'M   ', 'New York              ', 'NY           ', '10282', 'Director                      ', 'Manhattan Youth               ', 49),
 ('Mallory, Sarah M                   ', 'K   ', 'Brooklyn              ', 'NY           ', '11215', 'Legislative Director          ', 'City of New York              ', 50),
 ('IUPAT                              ', 'Z   ', 'Hanover               ', 'MD           ', '21076', None, None, 51),
 ('Wald, Jeffrey                      ', 'M   ', 'New York              ', 'NY           ', '10128', 'Internet Executive            ', 'World Market, Inc.            ', 52),
 ('D&M PAC                            ', 'M   ', 'New York              ', 'NY           ', '10158', None, None, 53),
 ('Amin, Mohamed Q                    ', 'Q   ', 'South Ozone Park      ', 'NY           ', '11420', 'Research/Webmaster            ', 'NYU                           ', 54),
 ('Crotty, Jane                       ', 'M   ', 'New York              ', 'NY           ', '10009', 'Senior Vice President         ', 'George Arzt Communications    ', 55),
 ('Kokotas, Jimmy                     ', 'K   ', 'Brooklyn              ', 'NY           ', '11234', 'Business Owner                ', "Tom's Restaurant Inc          ", 56),
 ('Mack, Frederic                     ', 'M   ', 'New York              ', 'NY           ', '10028', 'Real Estate Parnter           ', 'The Mack Company              ', 57),
 ('Pascone, Lilian                    ', 'Z   ', 'Albany                ', 'NY           ', '12210', 'Attorney                      ', 'New York State Department of S', 58),
 ('Perez, Jesus                       ', 'M   ', 'New York              ', 'NY           ', '10029', 'Associate                     ', 'French-American Chamber of Com', 59),
 ('Abbady, Amir                       ', 'Q   ', 'South Richmond Hill   ', 'NY           ', '11419', 'Community Liasion             ', 'NYS Senate                    ', 60),
 ('Ipsen, Erik                        ', 'X   ', 'Pelham Manor          ', 'NY           ', '10803', 'Contributing Editor           ', 'Crains New York               ', 61),
 ('Westerman, Roger                   ', 'K   ', 'Brooklyn              ', 'NY           ', '11215', 'Industrial Designer           ', 'Roger Westerman Design LLC    ', 62),
 ('Zucker, Donald                     ', 'M   ', 'New York              ', 'NY           ', '10023', 'Chairman                      ', 'Donald Zucker Co              ', 63),
 ('Zaitsev, Michael                   ', 'M   ', 'New York              ', 'NY           ', '10016', 'Co-Founder                    ', 'DataArt                       ', 64),
 ('Catherine Butler, S                ', 'Z   ', 'Atlanta               ', 'GA           ', '30307', 'Student                       ', None, 65),
 ('Brach, Jack                        ', 'Q   ', 'Far Rockaway          ', 'NY           ', '11691', 'Owner                         ', 'Brachs                        ', 66),
 ('Dock, Vivian                       ', 'Q   ', 'Corona                ', 'NY           ', '11368', 'retired                       ', 'retired                       ', 67),
 ('Karimzada, Mohammed                ', 'Z   ', 'Plainview             ', 'NY           ', '11803', 'Police Sergeant               ', 'City of NY                    ', 68),
 ('Aljomai, Nabil                     ', 'X   ', 'Bronx                 ', 'NY           ', '10457', 'Cashier                       ', 'Alnabel 86 Deli               ', 69),
 ('CASSONE, PAUL                      ', 'K   ', 'Brooklyn              ', 'NY           ', '11218', 'SPECIAL EDUCATION ADMIN.      ', 'THE GUILD                     ', 70),
 ('Sheely, Gabrielle                  ', 'Z   ', 'Montclair             ', 'NJ           ', '7042 ', 'consultant                    ', 'self-employed                 ', 71),
 ('Rohman, Clayton                    ', 'Z   ', 'Denver                ', 'CO           ', '80211', 'Project Engineer              ', 'Allegheny Science and Technolo', 72),
 ('Harrison, Derrick                  ', 'M   ', 'New York              ', 'NY           ', '10029', None, None, 73),
 ('Pai, Yuching                       ', 'M   ', 'New York              ', 'NY           ', '10013', 'Accountant                    ', 'James Pai CPA LLC             ', 74),
 ('Edelstein, David                   ', 'M   ', 'New York              ', 'NY           ', '10028', 'Real Estate                   ', 'Sutton East                   ', 75),
 ('Taylor, Alan                       ', 'K   ', 'Brooklyn              ', 'NY           ', '11225', 'Retired                       ', None, 76),
 ('Dayaramani, Anil                   ', 'Q   ', 'Forest Hills          ', 'NY           ', '11375', 'Director                      ', 'Tectonic Engineering          ', 77),
 ('Miller, Milton                     ', 'Q   ', 'Bayside               ', 'NY           ', '11360', 'Driver                        ', 'Dial 777                      ', 78),
 ('Stix, Margaret                     ', 'K   ', 'Brooklyn              ', 'NY           ', '11238', 'President                     ', 'Lookout Hill Public Policy Ass', 79),
 ('Rudon, Steven                      ', 'Q   ', 'Ridgewood             ', 'NY           ', '11385', 'Analyst                       ', 'Fragomen, Del Rey             ', 80),
 ('Woloz, Michael C                   ', 'Q   ', 'Astoria               ', 'NY           ', '11105', 'Public Relations              ', 'Connelly McLaughlin Woloz     ', 81),
 ('Wachtenheim, Jeff                  ', 'M   ', 'New York              ', 'NY           ', '10011', 'Real Estate Agent             ', 'Town Real Estate              ', 82),
 ('Weingarten, Allen                  ', None, None, None, None, None, None, 83),
 ('Bharrat, Yogranie                  ', 'Q   ', 'Saint Albans          ', 'NY           ', '11412', 'Wholesale Acct Manager        ', 'United Northern Mortgage      ', 84),
 ('Raspberry, Tiffany                 ', 'K   ', 'Brooklyn              ', 'NY           ', '11206', 'Lobbyist                      ', 'YorkGroup Associates, LLC     ', 85),
 ('danny, tepi                        ', 'Q   ', 'Jackson Heights       ', 'NY           ', '11372', None, None, 86),
 ('Razmi, Asim                        ', 'K   ', 'Brooklyn              ', 'NY           ', '11230', 'TLC                           ', 'UBER                          ', 87),
 ('Reddy, Ravindra A                  ', 'Q   ', 'Long Island City      ', 'NY           ', '11109', 'Executive                     ', 'Citistructure                 ', 88),
 ('Feeney, Bernadette                 ', 'Z   ', 'Concord               ', 'MA           ', '1742 ', None, None, 89),
 ('Pewzner, Faivish                   ', 'Z   ', 'Lawrence              ', 'NY           ', '11559', 'vice president                ', 'Americare                     ', 90),
 ('Westfall, Barbara                  ', 'X   ', 'Bronx                 ', 'NY           ', '10464', None, None, 91),
 ('Zamechansky, Kathleen L            ', 'X   ', 'Bronx                 ', 'NY           ', '10461', 'Real Estate Broker            ', 'K2A Realty Group              ', 92),
 ('Krupa, Elaine                      ', 'Z   ', 'Halesite              ', 'NY           ', '11743', None, None, 93),
 ('Barkin, Joel                       ', 'Z   ', 'Maplewood             ', 'NJ           ', '7040 ', 'director                      ', 'The Roffe Group               ', 94),
 ('Landau, Jacob                      ', 'K   ', 'Brooklyn              ', 'NY           ', '11219', 'Office                        ', 'VTA of Boro Park              ', 95),
 ('Hameed, Rizwanullah                ', 'Z   ', 'Port Washington       ', 'NY           ', '11050', 'Self Employed                 ', 'Self Employed                 ', 96),
 ('Diaz, Antonio                      ', 'X   ', 'Bronx                 ', 'NY           ', '10458', None, None, 577),
 ('Povolny, Joan                      ', 'Q   ', 'Woodside              ', 'NY           ', '11377', 'Policy Analyst                ', 'NYC Council                   ', 97),
 ('Adams, Casey                       ', 'K   ', 'Brooklyn              ', 'NY           ', '11221', None, 'NYC Dept of Consumer Affairs  ', 98),
 ('Jones, Dawn                        ', 'M   ', 'New York              ', 'NY           ', '10039', 'Supervisor/Coordinator        ', 'City of NY                    ', 99)]

##### Dimension Table 2:  recipient_dimension

In [57]:
%%sql
DROP TABLE IF EXISTS recipient_dimension;
CREATE TABLE recipient_dimension (
    recip_id VARCHAR(4),
    recip_name CHAR(30),
    committee CHAR(1),
    office_cd INTEGER  
);

Done.
Done.

[]

In [58]:
%%sql
ALTER TABLE recipient_dimension ADD PRIMARY KEY (recip_id);

Done.

[]

In [59]:
%%sql
INSERT INTO recipient_dimension
SELECT DISTINCT recip_id, recip_name, committee, office_cd 
FROM Master;

70 rows affected.

[]

Quick validation:

In [60]:
%%sql
SELECT *
FROM recipient_dimension;

70 rows affected.

[('1719', 'Treyger, Mark                 ', 'J', 5),
 ('1627', 'Cohen, Andrew J               ', 'J', 5),
 ('1589', 'Cumbo, Laurie A               ', 'J', 5),
 ('337', 'Van Bramer, James G           ', 'L', 6),
 ('353', 'Rodriguez, Ydanis A           ', 'M', 6),
 ('1707', 'Gibson, Vanessa L             ', 'K', 5),
 ('1673', 'Espinal, Jr., Rafael L        ', 'K', 6),
 ('1928', 'Marano, John C                ', 'H', 5),
 ('1694', 'Menchaca, Carlos              ', 'J', 5),
 ('148', 'Stringer, Scott               ', 'P', 6),
 ('264', 'Katz, Melinda R               ', 'Q', 4),
 ('1550', 'Reynoso, Antonio              ', 'J', 5),
 ('1876', 'Sanchez, Anthony              ', 'H', 5),
 ('1910', 'Thompson, Josh                ', 'H', 1),
 ('GS', 'Koslowitz, Karen              ', 'L', 5),
 ('1178', 'Greenfield, David G           ', 'L', 6),
 ('1359', 'Koo, Peter A                  ', 'K', 5),
 ('721', 'Garodnick, Daniel R           ', 'K', 6),
 ('1933', 'Olivera, Deidre L             ', 'H', 5),
 ('1931', 'Speranza, Martha              ', 'H', 5),
 ('1190', 'Richards, Donovan             ', 'L', 5),
 ('1941', 'Santos, Boris                 ', 'H', 5),
 ('1883', 'Faulkner, Michel J            ', 'H', 1),
 ('878', 'Gibbs, Edward L               ', 'J', 5),
 ('1884', 'Price, Camella P              ', 'H', 4),
 ('1176', 'Vallone, Paul A               ', 'K', 5),
 ('1890', 'Fields, Donald D              ', 'H', 5),
 ('1068', 'Ulrich, Eric A                ', 'P', 6),
 ('1235', 'Ferreras-Copeland, Julissa    ', 'L', 5),
 ('1545', 'Adams, Eric L                 ', 'K', 4),
 ('311', 'Levine, Mark D                ', 'M', 5),
 ('1710', 'Torres, Ritchie               ', 'I', 5),
 ('1559', 'Johnson, Corey                ', 'J', 5),
 ('1887', 'Gomez, Alex A                 ', 'H', 5),
 ('1880', 'Haber, Gregory                ', 'H', 5),
 ('1185', 'King, Andrew                  ', 'L', 5),
 ('214', 'Oddo, James S                 ', 'Q', 4),
 ('1878', 'Doyle, John C                 ', 'H', 5),
 ('1849', 'Concannon, Joseph R           ', 'K', 5),
 ('530', 'Crowley, Elizabeth S          ', 'P', 6),
 ('227', 'Lancman, Rory I               ', 'J', 6),
 ('886', 'Rivera, William               ', 'J', 6),
 ('1078', 'Ignizio, Vincent M            ', 'M', 5),
 ('1075', 'Dromm, Daniel                 ', 'L', 6),
 ('710', 'Quart, Dan                    ', 'J', 6),
 ('292', 'Rose, Deborah                 ', 'N', 5),
 ('1301', 'Kallos, Benjamin J            ', 'K', 5),
 ('1938', 'Powers, Keith                 ', 'H', 5),
 ('1164', 'Lander, Brad S                ', 'K', 5),
 ('1227', 'Williams, Jumaane D           ', 'K', 5),
 ('1086', 'Eugene, Mathieu               ', 'N', 5),
 ('717', 'Gentile, Vincent J            ', 'Q', 6),
 ('1256', 'Cabrera, Fernando L           ', 'K', 5),
 ('1713', 'Maisel, Alan                  ', 'J', 5),
 ('1930', 'Rivera, Carlina               ', 'H', 5),
 ('743', 'Mark-Viverito, Melissa        ', 'M', 6),
 ('1491', 'Powell, Hettie V              ', 'J', 5),
 ('1152', 'Matteo, Steven                ', 'J', 5),
 ('1625', 'Lopez-Pierre, Thomas A        ', 'I', 5),
 ('1929', 'Ayala, Diana                  ', 'H', 5),
 ('1947', 'Scala, Michael G              ', 'H', 5),
 ('1891', 'David, Richard                ', 'H', 6),
 ('1188', 'Constantinides, Costa         ', 'K', 5),
 ('1233', 'Rosenthal, Helen              ', 'J', 5),
 ('1160', 'Diaz Jr., Ruben               ', 'N', 6),
 ('1583', 'Mailman, Jeffrey S            ', 'I', 5),
 ('1335', 'Weprin, Mark                  ', 'M', 5),
 ('326', 'de Blasio, Bill               ', 'P', 1),
 ('1921', 'Cunningham, Brian-Christoph A ', 'H', 5),
 ('480', 'James, Letitia                ', 'N', 2)]

##### Fact Table:  campgn_fact

In [61]:
%%sql
DROP TABLE IF EXISTS campgn_fact;
CREATE TABLE campgn_fact (
    recip_id VARCHAR(4),
    date TIMESTAMP,
    refund_date TIMESTAMP,
    donor_name CHAR(35),
    recip_name CHAR(30),
    ref_no VARCHAR(8),
    amount REAL,
    match_amnt REAL,
    prev_amnt REAL,
    total_contribution REAL
);

Done.
Done.

[]

In [62]:
%%sql
INSERT INTO campgn_fact
SELECT recip_id, date, refund_date, donor_name, recip_name, ref_no, amount, match_amnt, prev_amnt
FROM Master;

21238 rows affected.

[]

New column: The total amount of contribution should be the sum of individual donation and company-matched donation.

In [63]:
%%sql
UPDATE campgn_fact
SET total_contribution = amount + match_amnt;

21238 rows affected.

[]

In [64]:
%%sql
ALTER TABLE campgn_fact ADD COLUMN donor_key INTEGER;

Done.

[]

In [65]:
%%sql
UPDATE campgn_fact
SET donor_key = donor_dimension.donor_key
FROM donor_dimension
WHERE campgn_fact.donor_name = donor_dimension.donor_name;

21238 rows affected.

[]

Note: As discussed earlier, trans_dimension table had been removed from our star schema:

In [ ]:
#%%sql
#ALTER TABLE campgn_fact ADD COLUMN trans_key VARCHAR(10);

In [ ]:
#%%sql
#UPDATE campgn_fact
#SET trans_key = trans_dimension.trans_key
#FROM trans_dimension
#WHERE campgn_fact.date = trans_dimension.date
#AND campgn_fact.refund_date = trans_dimension.refund_date
#AND campgn_fact.ref_no = trans_dimension.ref_no;

In [ ]:
%%sql
ALTER TABLE campgn_fact ADD PRIMARY KEY (donor_key,recip_id,ref_no);

In [66]:
%%sql
ALTER TABLE campgn_fact DROP COLUMN date, DROP COLUMN refund_date, DROP COLUMN donor_name, DROP COLUMN recip_name;

Done.

[]

Quick validation:

In [67]:
%%sql
SELECT COUNT(*), SUM(total_contribution)
FROM campgn_fact;

1 rows affected.

[(12940100.0,)]

In [69]:
%%sql
SELECT *
FROM campgn_fact
LIMIT 50;

100 rows affected.

[('1938', 50.0, 0.0, 0.0, 50.0, '7770'),
 ('1710', 2000.0, 0.0, 0.0, 2000.0, '5724'),
 ('530', 2750.0, 0.0, 0.0, 2750.0, '5724'),
 ('1559', 2750.0, 0.0, 0.0, 2750.0, '16750'),
 ('1176', 2500.0, 0.0, 0.0, 2500.0, '13508'),
 ('1164', 2750.0, 0.0, 0.0, 2750.0, '9273'),
 ('264', 3850.0, 0.0, 0.0, 3850.0, '14448'),
 ('1335', 2750.0, 0.0, 0.0, 2750.0, '1316'),
 ('1160', 3850.0, 0.0, 0.0, 3850.0, '9994'),
 ('148', 4950.0, 0.0, 0.0, 4950.0, '13753'),
 ('1086', 2000.0, 0.0, 0.0, 2000.0, '13816'),
 ('1227', 2750.0, 0.0, 0.0, 2750.0, '7540'),
 ('1235', 2750.0, 0.0, 0.0, 2750.0, '13816'),
 ('264', 3850.0, 0.0, 0.0, 3850.0, '13816'),
 ('311', 2750.0, 0.0, 0.0, 2750.0, '13816'),
 ('743', 3850.0, 0.0, 0.0, 3850.0, '9012'),
 ('743', 3000.0, 0.0, 3850.0, 3000.0, '9012'),
 ('743', -1900.0, 0.0, 0.0, -1900.0, '9012'),
 ('480', 4500.0, 0.0, 0.0, 4500.0, '6437'),
 ('337', 2750.0, 0.0, 0.0, 2750.0, '10884'),
 ('1550', 2750.0, 0.0, 0.0, 2750.0, '1959'),
 ('1233', 2750.0, 0.0, 0.0, 2750.0, '7084'),
 ('1185', 2750.0, 0.0, 0.0, 2750.0, '14551'),
 ('1188', 1000.0, 0.0, 0.0, 1000.0, '10304'),
 ('1188', 500.0, 0.0, 1000.0, 500.0, '10304'),
 ('1227', 2000.0, 0.0, 0.0, 2000.0, '10304'),
 ('1227', 1000.0, 0.0, 2000.0, 1000.0, '10304'),
 ('1227', -250.0, 0.0, 0.0, -250.0, '10304'),
 ('1164', 1000.0, 0.0, 0.0, 1000.0, '13913'),
 ('1185', 500.0, 0.0, 0.0, 500.0, '13913'),
 ('1190', 1000.0, 0.0, 0.0, 1000.0, '13913'),
 ('1233', 1500.0, 0.0, 0.0, 1500.0, '13913'),
 ('1235', 2000.0, 0.0, 0.0, 2000.0, '13913'),
 ('1235', 750.0, 0.0, 2000.0, 750.0, '13913'),
 ('1301', 750.0, 0.0, 0.0, 750.0, '13913'),
 ('1335', 1000.0, 0.0, 0.0, 1000.0, '13913'),
 ('1550', 750.0, 0.0, 0.0, 750.0, '13913'),
 ('1550', 500.0, 0.0, 750.0, 500.0, '13913'),
 ('1710', 500.0, 0.0, 0.0, 500.0, '13913'),
 ('1719', 250.0, 0.0, 0.0, 250.0, '13913'),
 ('264', 500.0, 0.0, 0.0, 500.0, '13913'),
 ('264', 1000.0, 0.0, 500.0, 1000.0, '13913'),
 ('264', 750.0, 0.0, 1500.0, 750.0, '13913'),
 ('326', 2500.0, 0.0, 0.0, 2500.0, '13913'),
 ('337', 2750.0, 0.0, 0.0, 2750.0, '13913'),
 ('480', 1000.0, 0.0, 0.0, 1000.0, '13913'),
 ('530', 500.0, 0.0, 0.0, 500.0, '13913'),
 ('530', 500.0, 0.0, 500.0, 500.0, '13913'),
 ('530', 750.0, 0.0, 1000.0, 750.0, '13913'),
 ('710', 500.0, 0.0, 0.0, 500.0, '13913'),
 ('337', 1000.0, 175.0, 0.0, 1175.0, '314'),
 ('1559', 500.0, 175.0, 0.0, 675.0, '15419'),
 ('1930', 500.0, 175.0, 0.0, 675.0, '15419'),
 ('1559', 2750.0, 175.0, 0.0, 2925.0, '12844'),
 ('337', 2000.0, 175.0, 0.0, 2175.0, '12844'),
 ('337', 750.0, 0.0, 2000.0, 750.0, '12844'),
 ('337', 2000.0, 175.0, 0.0, 2175.0, '13614'),
 ('326', 175.0, 0.0, 0.0, 175.0, '10319'),
 ('1545', 2000.0, 175.0, 0.0, 2175.0, '9522'),
 ('1710', 50.0, 50.0, 0.0, 100.0, '60'),
 ('337', 25.0, 0.0, 0.0, 25.0, '12534'),
 ('1235', 500.0, 0.0, 0.0, 500.0, '13787'),
 ('1235', -250.0, 0.0, 0.0, -250.0, '13787'),
 ('1710', 175.0, 0.0, 0.0, 175.0, '3043'),
 ('1227', 1000.0, 0.0, 0.0, 1000.0, '16542'),
 ('1710', 175.0, 175.0, 0.0, 350.0, '7181'),
 ('264', 175.0, 0.0, 0.0, 175.0, '13471'),
 ('264', 250.0, 0.0, 175.0, 250.0, '13471'),
 ('264', 100.0, 0.0, 425.0, 100.0, '13471'),
 ('1188', 500.0, 0.0, 0.0, 500.0, '14076'),
 ('1188', 250.0, 0.0, 500.0, 250.0, '14076'),
 ('1188', -250.0, 0.0, 0.0, -250.0, '14076'),
 ('480', 1000.0, 0.0, 0.0, 1000.0, '14076'),
 ('480', -600.0, 0.0, 0.0, -600.0, '14076'),
 ('148', 1000.0, 175.0, 0.0, 1175.0, '844'),
 ('264', 35.0, 35.0, 0.0, 70.0, '6595'),
 ('326', 175.0, 175.0, 0.0, 350.0, '13111'),
 ('264', 175.0, 175.0, 0.0, 350.0, '521'),
 ('743', 50.0, 0.0, 0.0, 50.0, '5544'),
 ('743', 1000.0, 175.0, 0.0, 1175.0, '11540'),
 ('326', 100.0, 100.0, 0.0, 200.0, '196'),
 ('326', 500.0, 75.0, 100.0, 575.0, '196'),
 ('480', 500.0, 175.0, 0.0, 675.0, '3129'),
 ('480', 1000.0, 0.0, 500.0, 1000.0, '3129'),
 ('326', 2400.0, 175.0, 0.0, 2575.0, '615'),
 ('326', 175.0, 175.0, 0.0, 350.0, '17105'),
 ('1938', 50.0, 50.0, 0.0, 100.0, '8520'),
 ('1227', 750.0, 0.0, 1000.0, 750.0, '16542'),
 ('326', 175.0, 175.0, 0.0, 350.0, '11443'),
 ('743', 50.0, 0.0, 0.0, 50.0, '5219'),
 ('1694', 38.0, 0.0, 0.0, 38.0, '5520'),
 ('1589', 25.0, 25.0, 0.0, 50.0, '6885'),
 ('1152', 20.0, 20.0, 0.0, 40.0, '11161'),
 ('148', 50.0, 50.0, 0.0, 100.0, '5939'),
 ('326', 100.0, 100.0, 0.0, 200.0, '6525'),
 ('1233', 20.0, 0.0, 0.0, 20.0, '15711'),
 ('1929', 25.0, 0.0, 0.0, 25.0, '13731'),
 ('1164', 250.0, 0.0, 0.0, 250.0, '1340'),
 ('1164', 250.0, 0.0, 250.0, 250.0, '1340'),
 ('1335', 250.0, 0.0, 0.0, 250.0, '2823')]

## Problem 4 - explore your data in its new schema (30 points)

Strictly using the dimensional model tables you defined and populated for Problem 3, explore your data in its new form.  Use any of the query strategies we've seen in class, including transformations, aggregates, subqueries, rollups, and, of course, joins.  Add plots to highlight particular themes that stand out.  Describe your thinking and observations along the way.

In [ ]:
%%sql
SELECT contr_cd, SUM(total_contribution) AS total, COUNT(contr_cd) AS count
FROM donor_dimension AS a, campgn_fact AS b
WHERE a.donor_key=b.donor_key
GROUP BY contr_cd
ORDER BY total DESC;

##### Query Result 1: Top Types of Contributors
The top 3 are individual, political action committee, & labor union

In [ ]:
%matplotlib inline

In [ ]:
%%sql
SELECT office_cd, SUM(total_contribution) AS contribution
FROM recipient_dimension AS a, campgn_fact AS b
WHERE a.recip_id=b.recip_id
GROUP BY office_cd
ORDER BY contribution DESC;

In [ ]:
result = _
result.bar()

##### Query Result 2: Top Offices Receiving Contributions
The top 5 are Undecided, City Council, Mayor, Borough President, & Public Advocate.  What does "Undecided" mean?  Is this money laundering?  We need further background information and do a deeper analysis.

In [ ]:
%%sql
SELECT donor_name, contr_cd, recip_name, office_cd, SUM(total_contribution) AS contribution
FROM donor_dimension AS a, recipient_dimension AS b, campgn_fact AS c
WHERE a.donor_key=c.donor_key
AND b.recip_id=c.recip_id
GROUP BY donor_name, contr_cd, recip_name, office_cd
ORDER BY contribution DESC
LIMIT 10;

##### Query Result 3: Top 10 Donors
1.  9 out of 10 were individuals.
2.  4 out of 10 went to the mayoral candidate Bill de Blasio.
3.  Martha donated about 8,000 dollars to herself.
4.  About 0.6% (81.85k / 12.9mm) of the overall finance contribution came from the top 10.

In [ ]:
%%sql
SELECT emp_name, SUM(amount) AS original, SUM(match_amnt) AS matching, SUM(total_contribution) AS total 
FROM donor_dimension AS a, campgn_fact AS b
WHERE a.donor_key=b.donor_key
AND emp_name NOT LIKE ('None%')
AND emp_name NOT LIKE ('Self%')
AND emp_name NOT LIKE ('self%')
AND emp_name NOT LIKE ('Retired%')
AND emp_name NOT LIKE ('RETIRED%')
AND emp_name NOT LIKE ('retired%')
AND emp_name NOT LIKE ('Unemployed%')
AND emp_name NOT LIKE ('Not %')
AND emp_name NOT LIKE ('N/A%')
AND emp_name NOT LIKE ('n/a%')
GROUP BY emp_name
ORDER BY matching DESC
LIMIT 20;

##### Query Result 4: Top 20 Matching Employers
No big banks or financial institutions in the top 20?  We would like to look further into Silverstein Properties and Meridian Capital.

## Bonus (10 points for one of A or B)


### Option A - Automating ETL

Consider the work you did to load your original raw dataset and then transform it into a dimensional model for analysis.  What would it take to automate this process?  How often would you need to update the data?  Could you easily automate any data cleaning steps?  What checks would you need to put in place to ensure quality?  Would humans need to be involved, or could you automate it all?

Discuss.


### Option B - Augmenting dimensions

Considering your dimensional model, what external data could you find to augment it?  As in the case of bike trips, where weather might provide an interesting added dimension/context not present in the original data, you can probably find another source of data to complement your own model.  Identify one such source and add it to your model, demonstrating its value with a few new queries.

#### Option A - Automating ETL

We did considerable work up front just to extract usable data from the raw dataset. Our difficulties were due to a bad bit somewhere in the file, a non-standard encoding or some other artifact that the notebook could not handle. Unfortunately `csvclean` was of no use. In a case like this it is hard to see how the ETL process could be automated satisfactorily. 

However, ultimately we did find a solution. Once the raw dataset is consistently readable many of the steps needed to transform it into a dimensional model could be automated, at least in part.

If the dataset is simply to be updated (that is, only the data will change but variable names and value labels will not) then the data update process could be entirely automatic. The data would need to be updated on a regular basis (usually monthly) and would entail running all code in a notebook such as this after the databases are refreshed.

Given our experience with this raw dataset (the UTF-8 non-conformance error in particular) it would take a fairly advanced pattern recognition algorithm and advanced coding to clean a new data set (to do what we did when the raw data failed to load). Moreover, the data cleaning tools at the ready would need to be a whole lot more sophisticated than csvclean. Data cleaning is essentially making sense out of chaos. IBM Watson might approach the task. But anything less adept would likely be unsatisfactory. Some data cleaning steps can always be automated. In fact, a common approach to reducing data entry errors is to place limits on valid values for all new data. This kind of screening technique could easily be employed to reduce the introduction of erroneous data.

Design of the database model is not a deterministic enterprise. There is some art involved. So if the machine is to design the database from the outset, it would need to be equipped with substantial artificial intelligence routines that rely on expert rules for the spectrum of data structures that might (and might not) be expected.

Checksums and hash values, such as the internal sums and counts employed here to ensure all observations have loaded, can be used to check consistency during a data cleaning process. But with the exception of the simple update, humans would need to be involved when internal checksums fail.

#####Conclusion:
Both Daniel and Kevin imported and examined the raw data.  Kevin took the lead in dealing with cleaning issues.  Daniel defined the database model while Kevin explored the data.  Daniel defined the star schema and loaded data into it.  Daniel ran the queries in its new schema.  Kevin wrote the automated ETL for the bonus points.  We each contributed a great deal to this project.